@font-face {font-family: "Lilliput Steps"; src: url("//db.onlinewebfonts.com/t/ba4be84014870ea51e8c32f295bd9198.eot"); src: url("//db.onlinewebfonts.com/t/ba4be84014870ea51e8c32f295bd9198.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ba4be84014870ea51e8c32f295bd9198.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ba4be84014870ea51e8c32f295bd9198.woff") format("woff"), url("//db.onlinewebfonts.com/t/ba4be84014870ea51e8c32f295bd9198.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ba4be84014870ea51e8c32f295bd9198.svg#Lilliput Steps") format("svg"); }

html{
  background: radial-gradient(47.64% 47.64% at 50% 50%, #31112E 0%, #3D1541 51.04%, #230E28 100%);
  height:100vh;
  .App {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .machine{
      .machine-header{
        margin: 0;
        font-family: "Lilliput Steps";
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        .input-start-wrapper{
          position: relative;
          background: url('/inputStartSprite.png') no-repeat; 
          background-size: 310px;
          width:312px;
          height:70px;
          &::before{
            content: '';
            background: url('/Icon-Coin.png') no-repeat;
            width: 50px;
            position: absolute;
            height: 100%;
            margin: auto;
            background-position: center;
            left: 15px;
            }
          .input-start{
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button{
              -webkit-appearance: none; 
              -moz-appearance: textfield;
            }
            left: 75px;
            margin: 0;
            color:  #094A60;
            font-family: "Lilliput Steps";
            background:none;
            text-align:center;
            width: 100px;
            position: absolute;
            height:100%;
            font-size:28px;
            border:none;
            &:focus{
              outline: none;
            }
          }
          .input-start-btn{
            position: absolute;
            border: none;
            width: 122px;
            height: 100%;
            top: 7px;
            cursor:pointer;
            right: 8px;
            background: url('/start-btn-sprite.png') no-repeat;
            background-size: 128px;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
            &:hover{
              background-position-y: -70px;
            }
            &:disabled{
              background-position-y: -140px;
              top: 5px;
            }
            &:focus{
              background-position-y: -208px;
              top: 0;
              right: 4px;
              background-size: 130px;
              width: 130px;
              outline: none;
            }
          }
        }
      }
      .machine-frame{
        margin: 100px 0;
        position: relative;
        &::before{
          content:'';
          background:url('/Arrow.svg') no-repeat;
          position: absolute;
          height: 60px;
          background-position: center;
          z-index:2;
          width: 15px;
          background-size: 15px
        }
        &::after{
          content:'';
          background:url('/Arrow.svg') no-repeat;
          position: absolute;
          transform: rotate(180deg);
          right:0;
          z-index:2;
          height: 60px;
          background-position: center;
          width: 15px;
          background-size: 15px
        }
        border: 10.7665px solid #35D7F4;
        width: 412.44px;
        height: 243.49px;
        border-radius: 30.6432px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        overflow: hidden;
        .white-band{
          z-index: 0;
          &.white-band-one{
            margin-right: 6.6px;
          }
          &.white-band-three{
            margin-left: 6.6px;
          }
          img{
            z-index: 2;
          }
          .slot-icon{
            height:150px;
            &.animate{
              -webkit-transition: all 0.03s linear; /* For Safari 3.1 to 6.0 */
              transition: all 0.03s linear;
            }
            &.hide{
              height: 0;
            }
          }
          background:url('/white_band.svg');
          position:relative;
          width: 133px;
        }
      }
      .machine-footer{
        margin: 0;
        .spin-button{
          cursor:pointer;
          display: inline-block; 
          background: url('/spin-btn-sprite.png') no-repeat; 
          overflow: hidden; 
          text-indent: -9999px; 
          text-align: left;
          box-shadow: none;
          margin:0;
          padding:0;
          border:none;
          -webkit-user-select: none; /* Safari 3.1+ */
          -moz-user-select: none; /* Firefox 2+ */
          -ms-user-select: none; /* IE 10+ */
          user-select: none; /* Standard syntax */
          background-position: -25px -17px; width: 260px; height: 100px;
          &:hover { background-position: -25px -118px; }
          &:focus { background-position: -25px -320px; outline:none}
          &:disabled { background-position: -25px -219px; }
        }
      }
    }
  }
}

@media (min-width: 569px) and (max-width: 768px) {
  html{
    .App{
      .machine{
        .machine-frame{
          margin: 74px 0 99px 0;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  html{
    .App{
      .machine{
        display: flex;
        flex-direction: column;
        align-items: center;
        .machine-header{
          .input-start-wrapper{
            width: 234px;
            background-size: 234px;
            height: 52px;
            &::before{
              background-size: 30px;
              left: 5px;
            }
            .input-start{
              left: 55px;
              width: 85px;
              font-size: 24px;
            }
            .input-start-btn{
              width:90px;
              background-size: 95px;
              top: 6px;
              right: 6px;
              &:hover{
                background-position-y: -70px;
              }
              &:disabled{
                background-position-y: -104px;
                top: 5px;
              }
              &:focus{
                background-position-y: -155px;
                top: 0;
                right: 3px;
                background-size: 96px;
                width: 95px;
                outline: none;
              }
            }
          }
        }
        .machine-frame{
          width: 263px;
          height:150px;
          margin: 54px 0 89px 0;
          .white-band{
            .slot-icon{
              height: 77px;
            }
          }
        }
        .machine-footer{
          .spin-button{
            width: 177px;
            height: 70px;
            background-size: 210px;
            background-position: -17px -8px;
            &:hover { background-position: -17px -79px; }
            &:focus { background-position: -17px -219px; outline:none}
            &:disabled { background-position: -17px -146px; }
          }
        }
      }
    }
  }
}